WebFeature/Sources/WebSecureGrades/Web References/GradesCertificator/gradescertifier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://edumaterialcertifcator.net/gradescertifier" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://edumaterialcertifcator.net/gradescertifier" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://edumaterialcertifcator.net/gradescertifier">
      <s:element name="GradesPublication" nillable="true" type="tns:GradesPublication" />
      <s:complexType name="GradesPublication">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProfessorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Campus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EvaluationType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Evaluations" type="tns:ArrayOfStudentEvaluation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStudentEvaluation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StudentEvaluation" nillable="true" type="tns:StudentEvaluation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StudentEvaluation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StudentID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignGradesResult" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignGradesSoapIn">
    <wsdl:part name="publication" element="tns:GradesPublication" />
  </wsdl:message>
  <wsdl:message name="SignGradesSoapOut">
    <wsdl:part name="SignGradesResult" element="tns:SignGradesResult" />
  </wsdl:message>
  <wsdl:portType name="GradesCertifierSoap">
    <wsdl:operation name="SignGrades">
      <wsdl:input message="tns:SignGradesSoapIn" />
      <wsdl:output message="tns:SignGradesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GradesCertifierSoap" type="tns:GradesCertifierSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignGrades">
      <soap:operation soapAction="http://edumaterialcertifcator.net/gradescertifier/SignGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GradesCertifierSoap12" type="tns:GradesCertifierSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignGrades">
      <soap12:operation soapAction="http://edumaterialcertifcator.net/gradescertifier/SignGrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GradesCertifier">
    <wsdl:port name="GradesCertifierSoap" binding="tns:GradesCertifierSoap">
      <soap:address location="http://sauron:8090/gradescertifier.asmx" />
    </wsdl:port>
    <wsdl:port name="GradesCertifierSoap12" binding="tns:GradesCertifierSoap12">
      <soap12:address location="http://sauron:8090/gradescertifier.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>