WebFeature/Sources/WebSecureGrades/Web References/GradesPublisher/gradespublisher.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://edugradespublisher.net/gradespublisher" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://edugradespublisher.net/gradespublisher" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://edugradespublisher.net/gradespublisher">
      <s:import />
      <s:element name="PublishGrades">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="publication" />
            <s:element minOccurs="0" maxOccurs="1" name="signature" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PublishGradesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PublishGradesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Token" type="tns:Token" />
      <s:complexType name="Token">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CertificateToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified">
      <s:element name="publication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProfessorID" type="s:unsignedInt" />
            <s:element minOccurs="0" maxOccurs="1" name="Campus" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EvaluationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Evaluations" type="ArrayOfGradesPublicationStudentEvaluation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGradesPublicationStudentEvaluation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StudentEvaluation">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="StudentID" type="s:unsignedInt" />
                <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:double" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PublishGradesSoapIn">
    <wsdl:part name="parameters" element="tns:PublishGrades" />
  </wsdl:message>
  <wsdl:message name="PublishGradesSoapOut">
    <wsdl:part name="parameters" element="tns:PublishGradesResponse" />
  </wsdl:message>
  <wsdl:message name="PublishGradesToken">
    <wsdl:part name="Token" element="tns:Token" />
  </wsdl:message>
  <wsdl:portType name="GradesPublisherSoap">
    <wsdl:operation name="PublishGrades">
      <wsdl:input message="tns:PublishGradesSoapIn" />
      <wsdl:output message="tns:PublishGradesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GradesPublisherSoap" type="tns:GradesPublisherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishGrades">
      <soap:operation soapAction="http://edugradespublisher.net/gradespublisher/PublishGrades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PublishGradesToken" part="Token" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GradesPublisherSoap12" type="tns:GradesPublisherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PublishGrades">
      <soap12:operation soapAction="http://edugradespublisher.net/gradespublisher/PublishGrades" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PublishGradesToken" part="Token" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GradesPublisher">
    <wsdl:port name="GradesPublisherSoap" binding="tns:GradesPublisherSoap">
      <soap:address location="http://sauron:8085/gradespublisher.asmx" />
    </wsdl:port>
    <wsdl:port name="GradesPublisherSoap12" binding="tns:GradesPublisherSoap12">
      <soap12:address location="http://sauron:8085/gradespublisher.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>